@tailwind base;
@tailwind components;
@tailwind utilities;

/* .slick-arrow:before {
  color: #0166fe;
  font-size: 60px;
  border-radius: none;
}

.slick-prev {
  top: 450px;
  left: 1210px;
}
.slick-next {
  top: 450px;
  right: 40px;
} */
